name: pwr-bot

services:

  app:
    image: ghcr.io/fazuh/pwr-bot:latest 
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - app-data:/app/data
    environment:
      - POLL_INTERVAL=${POLL_INTERVAL:-180}
      - DATABASE_PATH=${DATABASE_PATH:-data/data.db}
      - DATABASE_URL=${DATABASE_URL:-sqlite://data/data.db}
      - DISCORD_TOKEN=${DISCORD_TOKEN:?error}
      - RUST_LOG=${RUST_LOG:-pwr_bot=info}
      - ADMIN_ID=${ADMIN_ID:?error}
    restart: unless-stopped
      
volumes:
  app-data:
